
deploy/servers/*
!deploy/servers/AG1-sample.json
!deploy/README.md

deploy/tasks/*
!deploy/tasks/AG1-sample/Sample_Task.json
!deploy/tasks/SI-sample/Sample_Task.json
!deploy/tasks/README.md
